/* RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    background-color: #F6F4D2;
    

   }

   

      .main-header h1 {

    

      font-size: 65px;

      margin-top: 30px;
      margin-left: 35px;
      margin-right: 20px;

    

     

        color: #333;

   font-weight: 900;

   padding-left: 20px;

   font: bold;

      
  }

      
        
        
       
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

   
     nav {
         display:flex;
         flex: grow;
        
         padding-top: 70px;
         padding-bottom: 40px;
         justify-content: space-around;
         margin: 20px;
      
         
     }
     
     ul {
        
         
    list-style-type: none;
    margin: 20;
    padding: 20;
    overflow: hidden;
    background-color: #333;
}

     li {
         flex: space-around;
         font-size: 20px;
         flex: grow;
     }
     
    .sec-one {
     background: #AA9670;
    height: 500px;
    margin: 30px;
    display: flex;
    
    flex-direction: column;    
     justify-content: space-around;
    
     align-items: center;
     margin-top: 30px;
}
    
     .sec-one h2 {
     
     justify-content: center;
     align-items: center;
     font-size: 2em;
}

     
     
     
     
     

    /* ===== SECTION TWO ==== */   
     .sec-two {
         
     background-color: #F7D4BC;
     height: 500px;
     margin: 30px;
     
     display: flex;
     flex-direction: column;    
     justify-content: space-around;
  
     align-items: center;
    
  
     }
    
     h2 
         
    
     
     
    
    
     
  
     

    /* ===== SECTION THREE ==== */   

.sec-three {
     background: lightsalmon;
   
    margin: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;    
     justify-content: space-around;
    
     align-items: center;
      
    
      } 
     
       h2 
     
      
  footer {
     height: 50px;
     margin: 50px 30px;
      
      
  }
     
